body{
    background-color: rgba(136, 131, 129, 0.247);
 }

h1{
    text-align:center;
    font: 300;
}


#canvas{
    background-color: gray;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:1px solid black;
    cursor: crosshair;
}

.buttongroup button {
    width: 60px;
    float: left;
    margin-top: 50px;
    background-color:rgb(248, 248, 248) ;
    border: 3px black; /* Green border */
    color: rgb(3, 3, 3); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 20%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.buttongroup button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.buttongroup button:hover {
    background-color: rgba(255, 68, 0, 0.712);
}